<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoslynPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TableTweaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <userSettings>
        <RoslynPad.Properties.Settings>
            <setting name="SendErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LatestVersion" serializeAs="String">
                <value />
            </setting>
        </RoslynPad.Properties.Settings>

        <TableTweaker.Properties.Settings>
            <setting name="LastSessionCode" serializeAs="String">
                <value>
                    using System;
                    public string FormatDate(string date, string format)
                    {
                    return DateTime.Parse(date).ToString(format);
                    }
                    public string IndexOf(string s, string value)
                    {
                    return s.IndexOf(value).ToString();
                    }
                    public string Left(string s, int length)
                    {
                    return string.IsNullOrEmpty(s) ? string.Empty : s.Substring(0, (length &lt; s.Length ) ? length : s.Length);
                    }
                    public string Right(string s, int length)
                    {
                    return string.IsNullOrEmpty(s) ? string.Empty : ((s.Length &gt; length) ? s.Substring(s.Length - length, length) : s);
                    }
                    public string Replace(string s, string oldValue, string newValue)
                    {
                    return s.Replace(oldValue, newValue);
                    }
                    public string Substring(string s, int startIndex, int length)
                    {
                    return s.Substring(startIndex, length);
                    }
                    public string ToLower(string s)
                    {
                    return s.ToLower();
                    }
                    public string ToUpper(string s)
                    {
                    return s.ToUpper();
                    }
                    public string Trim(string s, string trimString)
                    {
                    return s.Trim(trimString.ToCharArray());
                    }
                </value>
            </setting>
            <setting name="LastSessionPattern" serializeAs="String">
                <value>
                    $EACH+
                    $rowNum
                    To: $ToLower("$1.$0@$2.com")
                    Hello $1 $0,
                    I'm sorry to inform you of a terrible accident at $2.
                    ---
                </value>
            </setting>
            <setting name="LastSessionInput" serializeAs="String">
                <value>
                    Last Name,First Name,Company
                    Cook,Tim,Apple
                    Nadella,Satya,Microsoft
                    Drury,Rod,Xero
                    Zuckerberg,Mark,Facebook
                    Page,Larry,Google
                </value>
            </setting>
            <setting name="CbxModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbxDelimiteIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbxQualifierIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbxFiltersValue" serializeAs="String">
                <value>.+</value>
            </setting>
            <setting name="CbxFontSizeIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CbxLineWrapIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbxResultGridColumnsIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </TableTweaker.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-42.42.42.42" newVersion="42.42.42.42" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-42.42.42.42" newVersion="42.42.42.42" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.Desktop" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-42.42.42.42" newVersion="42.42.42.42" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.Scripting.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-42.42.42.42" newVersion="42.42.42.42" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-42.42.42.42" newVersion="42.42.42.42" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.33.0" newVersion="1.1.33.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>
